# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Logs
*.log

# Dependency caches
node_modules/

# Environment files
.env
.env.*

chatgpt.js

GEMINI_API_KEY     = "AIzaSyA3G26QZsZFjBWpc270Y0WA5D3b4N_mFTY";